Flask
gunicorn

python-dotenv

requests
numpy

# PDF
pypdf

# Pinecone
pinecone
langchain-pinecone

# LangChain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface

# Hugging Face
sentence-transformers

# Translation
googletrans==4.0.0rc1
deep-translator