Flask
gunicorn

python-dotenv

numpy
requests

# PDF
pypdf

# Pinecone
pinecone
langchain-pinecone

# LangChain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langdetect==1.0.9
# HuggingFace embeddings
sentence-transformers

# Translation
deep-translator

# Utilities
PyYAML
tqdm